.left {
  grid: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 280px;
}

ul {
}

ul > li {
  display: block;
}

ul > li > a {
  font-weight: bold;
  line-height: 3em;
  text-decoration: underline;
}

#addPostDiv {
  background-color: #f1f1f2;
  padding: 20px;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(4, 76, 127, 0.2);
}

#addPost {
  margin-left: auto;
  margin-right: auto;
  width: 175px;
  min-height: 70px;
  font-size: 1.2em;
  box-shadow: 0 5px 20px rgba(4, 76, 127, 0.2);
}

@media (max-width: 900px) {
  body {
    grid-template-areas:
                          "left"
                          "main"
                          "right"
                          "foot";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 100px;
  }


    .left {
      grid: left;
      margin-left: auto;
      margin-right: auto;
      margin-top: 200px;
    }

    h1 {
      margin-top: 40px;
    }
}

@media (max-width: 800px) {
  body {
    font-size: 32px;
    line-height: 2em;
    grid-template-areas:
                          "left"
                          "main"
                          "right"
                          "foot";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 100px;
  }

  main {
    flex-direction: column;
    justify-content: center;
  }

  header {
    height: 120px;
    line-height: 3.5em;
  }

  header > .account-icon {
    bottom: 35px;
    right: 50px;
    height: 50px;
    width: 50px;
  }

  nav {
    margin-top: 120px;
    height: 120px;
  }

  h1 {
    margin-top: 80px;
  }

  .left {
    grid: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
  }

  .center {
    width: auto;
    order: 1;
    margin-top: 50px;
  }

  .right {
    grid: right;
    width: auto;
    margin-top: 70px;
  }

  .left > ul {
  }

  .comments {
    width: auto;
    order: 4;
  }
}

@media (max-width: 400px) {
  body {
    grid-template-areas:
                          "left"
                          "main"
                          "right"
                          "foot";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 100px;
  }

  main {
    flex-direction: column;
    justify-content: center;
  }

  header {
    height: 200px;
    line-height: 6em;
  }

  header > .account-icon {
    bottom: 72px;
    right: 50px;
    height: 50px;
    width: 50px;
  }

  nav {
    margin-top: 200px;
    height: 200px;
    font-size: 40px;
    line-height: 5em;
  }

  h1 {
    margin-top: 80px;
  }

  .left {
    grid: left;
    width: auto;
    margin-top: 450px;
  }

  .center {
    width: auto;
    order: 1;
    margin-top: 50px;
  }

  .right {
    grid: right;
    width: auto;
    margin-top: 20px;
  }

  .comments {
    width: auto;
    order: 4;
  }

  .flex-div-comment {
    flex-direction: column;
  }

  .user-info {
  }

  input[type=text], textarea {
      width: 100%;
      height: 250px;
  }

  button {
    padding: 24px 40px;
    font-size: 36px;
  }
}
