* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  background: white;
  font-family: 'Lato', sans-serif;
  color: #044c7f;
  display: grid;
  line-height: 1.6em;
  font-size: 18px;
  grid-template-areas:
                        "left main right"
                        "foot foot foot";
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 200px;
}

a {
  text-decoration: none;
  color: #044c7f;
}

h1 {
  margin-top: 2em;
  margin-top: 3em;
  margin-bottom: 1em;
  font-family: 'Cabin Sketch';
  text-align: center;
  font-weight: normal;
  font-size: 3em;
  text-shadow: 0 2px 2px rgba(4, 20, 20, .5);
}

h2 {
  font-size: 3em;
  margin-top: 3em;
  margin-bottom: 1em;
  font-family: 'Cabin Sketch';
  text-align: center;
  font-weight: normal;
  text-shadow: 0 2px 2px rgba(4, 20, 20, .5);
}

h3 {
}

.center-head {
    text-align: center;
    margin-bottom: 1em;
}

header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  background: #044c7f;
  color: white;
  line-height: 70px;
  text-align: center;
  z-index: 1000;
  height: 70px;
}

nav {
  z-index: 1000;
  position: fixed;
  width: 100%;
  margin-top: 70px;
  background: #f1f1f2;
	line-height: 70px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(4, 76, 127, 0.2);
  z-index: 1000;
}

main {
  grid-area: main;
  margin-left: auto;
  margin-right: auto;
  min-height: 110vh;
}

footer {
  grid-area: foot;
  background: #044c7f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
}

hr {
  margin-top: 100px;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
}

header > a > img {
  height: 50px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

nav > ul > li {
  display: inline-block;
  margin-right: 20px;
}

nav > ul > li > a {
  color: #044c7f;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
}

.account-icon {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 30px;
  width: 30px;
}

.address > p > a {
  text-decoration: none;
  color:white;
}

#velkommen-billede {
  margin-top: 130px;
  min-width: 100%;
  opacity: .6;
  z-index: -1000;
}

#velkommen {
  margin-top: 260px;
}

#velkommen-h2, #velkommen-h3 {
  text-shadow: 0 2px 2px rgba(4, 20, 20, 0.25);
}

#velkommen-h2 {
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
  margin-bottom: 40px;
}

#velkommen-h3 {
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  line-height: 1.8em;
}

.relaterede-opslag-h3 {
  font-weight: normal;
  text-decoration: none;
  color: rgb(4, 76, 127);
}

#news {
  margin-top: 220px;
}

#news-h2, #more-news-h3 {
  font-weight: normal;
  font-size: 3em;
  text-shadow: 0 2px 2px rgba(4, 20, 20, .5);
}

#thread-h1 {
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #FFF;
  text-shadow: 0 2px 2px rgba(4, 20, 20, 0);
}

#thread-p {
  color: #FFF;
}

.menu_item a:hover {
  background-color: black;
  color: white;
  padding-top: 5px;
}

.left {
  margin-left: auto;
  margin-right: auto;
  margin-top: 280px;
}

.center {
  margin: 20px;
  min-width: 650px;
  margin-top: 200px;
}

.right {
  margin-left: auto;
  margin-right: auto;
  margin-top: 280px;
}

.right > a > .lesson-box {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.right > a > .lesson-box > img {
  max-height: 100%;
}

.lesson-info {

}

.lesson-info > p {
  border-style: solid;
  border-width: thin;
  box-shadow: 0 5px 20px rgba(4, 76, 127, 0.2);
  margin-top: 60px;
  height: auto;
  padding: 20px;
}

.lesson-overview {

}

.lesson-overview > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lesson-info > .p-box {
  margin-top: 160px;
}

.lesson {
  margin-top: 10px;
}

.lesson > .p-box {
  min-height: 300px;
}

.p-box {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 20px;
  border-style: solid;
  border-width: thin;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(4, 76, 127, 0.2);
  background: white;
  max-width: 1000px;
  min-width: 200px;
}

.p-box-discussion {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 20px;
  border-style: solid;
  border-width: thin;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(4, 76, 127, 0.2);
  background: white;
  max-width: 650px;
  min-width: 200px;
}

.p-box-small {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 40px;
  border-style: solid;
  border-width: thin;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(4, 76, 127, 0.2);
  background: white;
  max-width: 600px;
  min-width: 200px;
}

.comments-discussion > .p-box {
  max-width: 600px;
  display: flex;
  margin: auto;
  align-items: center;
  margin-top: 20px;
}

.comments {
  align-self: flex-start;
  margin: 20px;
}

#comment-head {
  margin-top: 80px;
}

.user-info {
  min-width: 100px;
}

.text {

}

.post-user, .post-user-white {
  font-size: 14px;
}

.post-user-white {
  color: #FFF;
}

.post-date, .post-date-white {
  font-size: 14px;
}

.post-date-white {
  color: #FFF;
}

.post-user-img {

}

.post-user-img img {
  width: 70px;
}

.add-comment {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

input[type=text], textarea {
    width: 100%;
    height: 100px;
    padding: 12px;
    border: 1px solid #044c7f;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    resize: none;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    box-shadow: 0 5px 20px rgba(4, 76, 127, 0.2);
}

button {
  display:block;
  background-color: #00a19b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.flex-div-comment {
    display: flex;
}

.new-lessons, .news, .lessons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.new-lessons > a {
  max-width: calc(100% * (1/4));
}

.news > a {
  max-width: calc(100% * (1/4));
}

.lessons > a {
  max-width: calc(100% * (1/4));
}

.lesson-overview > img {
  width: 200px;
}

span {
  margin-top: 1em;
  margin-bottom: 2em;
  display: block;
  max-width: 750px;
}
span > img {
  width: 12%;
  vertical-align: middle;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lesson-image > img {
  width: auto;
  max-width: 100%;
}

.new-lesson-box, .news-box {
  margin: 2px;
  padding: 5px;
  height: 300px;
  text-align: center;
  font-size: 13px;
  min-width: 170px;
  max-width: 180px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(153,153,153);
}

.news-title, .news-likes, .news-comments {
  color: #044c7f;
  font-weight: normal;
}

.news-box {
  min-width: 170px;
  max-width: 180px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.lesson-box {
  position: relative;
  max-width: 100%;
  max-height: 325px;
  overflow: hidden;
  margin: 5px;
  border-radius: 15px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: white;
}

.lesson-box:hover .overlay {
  opacity: 0.4;
}

.lesson-box > .lesson-text {
  position: absolute;
  bottom: 20%;
  left: 0;
  padding: 5%;
  width: 100%;
  color: white;
  background-color: rgba(0,0,0,0.7);
}

.lesson {

}

.news-likes, .news-comments {
  max-width: 25px;
  min-width: 25px;
  text-align: left;
  margin-left: 5px;
}

.news-info > img {
  height: 16px;
  margin-top: 6px;
  margin-left: 30px;
}

.news-info {
  height: 30px;
  display: flex;
  max-width: 200px;
}

.news-link {
  text-decoration: none;
  color: #044c7f;
}

.new-lesson-span {

}

.new-lesson-span > a, .post-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: bottom;
}

.check-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}

.check-flex > div {
  flex: 1 0 100px;
  margin: 10px;
}

.check-flex > div > input {
  margin-right: 10px;
  margin-left: 10px;
}

.test {
  background: #f1f1f2;
}

.message-icon {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 60px;
    width: 60px;
}

/* for fællesskab */

.thread-check-container {
  margin: 50px 0 80px 0;
}

.thread-check-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 30px 30px 30px;
}

.thread-check-flex > div > input {
  margin: 0 10px 0 10px;
}

.thread-container {
  display: block;
  width: auto;
  min-height: 500px;
  margin-bottom: 80px;
}

body > main > div > div:nth-child(3) > div:nth-child(3) {
  margin-bottom: 0;
}

.thread-container > h3 {
  font-size: 1.5em;
  padding-bottom: 10px;
}

.thread-box {
  display: flex;
  min-width: 650px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-style: none;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(4, 76, 127, 0.2);
  position: relative;
}

.comment-box {
  display: flex;
  max-width: 550px;
  min-width: 550px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-style: none;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(4, 76, 127, 0.2);
  position: relative;
}

.l-blue {
  background: rgb(33, 99, 147);
}

.thread-comment {
  background: rgb(250, 250, 250);
  border-color: rgb(4,76,127);
  border-width: 1px;
  border-style: solid;
  display: block;
}

.thread-text-comment {
  color: rgb(4, 76, 127);
}

.green {
  background: rgb(0, 162, 155);
}

.blue {
  background: rgb(4, 76, 127);
}

.thread {
  display: flex;
  color: white;
}

.thread-user-info {
  font-size: 14px;
  min-width: 130px;
  max-width: 130px;
}

.thread-user-img {
  max-width: 70px;
  max-height: 85px;
}

.thread-user-img img {
  max-width: 70px;
}

.thread-user {
  line-height: 1.4em;
  font-style: italic;
}

.thread-date {
  line-height: 1.4em;
  font-style: italic;
}

.thread-text {
  max-width: 410px;
  max-height: 80px;
}

.comment-favorite {
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 25px;
}

.comment-favorite-discussion {
  display: flex;
  position: relative;
  top: 127px;
  color: #FFF;
  height: 30px;
}

.favorite {
  padding: 2px 5px 0 5px;
}

.comment {
  padding: 3px 5px 0 10px;
}

.read-more-btn {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 30px 30px 60px 30px;
}

#addCommentBtn {
  margin: auto;
}

#addCommentText {
  margin: auto;
}

/* submit post */

.add-post {
  border-radius: 5px;
  background-color: #f1f1f2;
  padding: 20px;
}

.add-post > input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "Lato";
  box-shadow: 0 5px 20px rgba(4, 76, 127, 0.2);
}

.add-post > input[type=submit] {
  background-color: #00a19b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#postText {
  min-height: 200px;
}

#postSubmit {

}

#addPost {
  margin-bottom: 50px;
}

#add-post-title {
  height: 50px;
}

/* Footer */

.logo-footer {
  height: 100px;
  width: 380px;
  align-content: center;
}

.logo-footer img {
  height: 50px;
  width: 100px;
  margin-left: auto;
	margin-right: auto;
	display: block;
}

.address {
  align-content: center;
  text-align: center;
  width: 380px;
}

.address p{
  color: #fff;
  line-height: 1.4em;
  font-size: 0.8em;
  text-align: left;
  display: inline-block;
}

.social-icons {
  width: 380px;
}

.social-icons img  {
  margin: 0px 0px 0px 20px;

}

/* itemprop */

.footerspan {
  margin: 0;
}

/* Smaller screensizes */

@media (max-width: 1200px) {
  .new-lessons > a {
    max-width: calc(100% * (1/3));
  }

  .news > a {
    max-width: calc(100% * (1/3));
  }

  .lessons > a {
    max-width: calc(100% * (1/3));
  }
}

@media (max-width: 800px) {
  body {
    font-size: 32px;
    grid-template-areas:

                          "main"
                          "right"
                          "left"
                          "foot";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 100px;
  }

  main {
    flex-direction: column;
    justify-content: center;
  }

  header {
    height: 120px;
    line-height: 3.5em;
  }

  header > .account-icon {
    bottom: 35px;
    right: 50px;
    height: 50px;
    width: 50px;
  }

  nav {
    margin-top: 120px;
    height: 120px;
    line-height: 3.5em;
  }

  .left {
    width: auto;
    margin-top: 70px;
  }

  .center {
    width: auto;
    order: 1;
    margin-top: 180px;
  }

  .right {
    width: auto;
    margin-top: 70px;
  }

  .comments {
    width: auto;
    order: 4;
  }
}

@media (max-width: 700px) {
  .new-lessons > a {
    max-width: calc(100% * (1/2));
  }

  .news > a {
    max-width: calc(100% * (1/2));
  }

  .lessons > a {
    max-width: calc(100% * (1/2));
  }
}

@media (max-width: 400px) {
  body {
    font-size: 32px;
    line-height: 2em;
    grid-template-areas:
                          "main"
                          "left"
                          "right"
                          "foot";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 100px;
  }

  main {
    margin-top: 150px;
    flex-direction: column;
    justify-content: center;
  }

  header {
    height: 200px;
    line-height: 6em;
  }

  header > .account-icon {
    bottom: 72px;
    right: 50px;
    height: 50px;
    width: 50px;
  }

  nav {
    margin-top: 200px;
    height: 200px;
    font-size: 40px;
    line-height: 5em;
  }

  .left {
    width: auto;
    margin-top: 20px;
  }

  .center {
    width: auto;
    order: 1;
    margin-top: 200px;
  }

  .right {
    width: auto;
    margin-top: 20px;
  }

  .comments {
    width: auto;
    order: 4;
  }

  .flex-div-comment {
    flex-direction: column;
  }

  .user-info {
  }

  input[type=text], textarea {
      width: 100%;
      height: 250px;
  }

  button {
    padding: 24px 40px;
    font-size: 36px;
  }
}

@media (max-width: 200px) {


  .new-lessons > a {
    max-width: calc(100%);
  }

  .news > a {
    max-width: calc(100% * (1/1));
  }

  .lessons > a {
    max-width: calc(100% * (1/1));
  }
}
